html, header, body, td, th, nav {
    color: azure;
    background: #1a1f25;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #e6b333;
    text-decoration: none;
}

    a:hover {
        color: #917120;
    }

h1 {
    font-size: 27px;
    font-weight: bold;
}

h5 {
    text-align: center;
}

.main-content {
    margin-left: 260px;
}

input, select {
    width: 100%;
    padding: 5px;
    height: 40px;
    border-radius: 3px;
    margin: 5px 0;
    outline: none;
}

    input[type="text"], input[type="number"], input[type="datetime-local"], select {
        background: transparent;
        border: solid #22272d;
        color: #e6b333;
    }

    input[type="submit"] {
        background: #e6b333;
        border-radius: 3px;
        border: none;
        box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
    }

/*radioright and left*/
.button-label {
    width: 49%;
    text-align: center;
    padding: 1em 2em;
    border-radius: 3px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
}

#radioleft:checked + .button-label {
    background: green;
}

#radioright:checked + .button-label {
    background: red;
}

.hidden {
    display: none;
}

/*Scroll*/
.categoryTable {
    overflow: auto;
    height: 400px;
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
    border-radius: 1rem;
}

/*Table*/
.table {
    width: 98%;
    border-radius: 1rem;
}

    .table thead th {
        text-align: left;
        border: none;
        padding: 10px 15px;
        background: #e6b333;
    }

    .table thead tr th:first-child {
        border-radius: 8px 0 0 8px;
    }

    .table thead tr th:last-child {
        border-radius: 0 8px 8px 0;
    }

    .table tbody td {
        text-align: left;
        border: none;
        padding: 10px 15px;
    }

    .table tbody tr:nth-child(even) {
        background: #3C487A;
    }

    .table tbody tr td:first-child {
        border-radius: 8px 0 0 8px;
    }

    .table tbody tr td:last-child {
        border-radius: 0 8px 8px 0;
    }

/*Sidebar*/
.sidebar {
    height: 100%;
    width: 260px;
    border-right: solid #0E1115;
    padding: 10px 20px;
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Оставайтесь на вершине */
    background-color: #1a1f25;
    overflow-x: hidden; /* Отключить горизонтальную прокрутку */
}

/*Widget*/
.widget {
    border-radius: 1rem;
    background-color: #3C487A;
}

    .widget.income > div:first-child {
        font-size: 30px;
        color: #65da41;
    }

    .widget.expense > div:first-child {
        font-size: 30px;
        color: red;
    }

    .widget.balance > div:first-child {
        font-size: 30px;
        color: #e6b333;
    }

    .widget.chart {
        font-size: 15px;
        padding: 5px;
    }
